@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
body{
    background-image: url(./country\ image.jpg);
    background-size: cover;
    background-color: chartreuse;
    background-blend-mode: luminosity;
}
div{
    

    width: 330px;
    height: 600px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: left;
    line-height: 1cm;
    font-family: 'Zen Loop', cursive;


    
    
    
}
h1{
    text-align: center;
    font-family: 'Zen Loop', cursive;
}




img{
    width: 100%;
    

}
div p{
    text-align: center;
}
span{
    font-weight: bold;
}
.col-3 img{
    height: 221px;
}
    
